header 
    h2
        a(href="/") 
            img(src="/images/fit2bfit-logo2.png", alt="Fit 2 b Fit")     
    nav 
        ul#menu 
            li 
                a(href="/") Home 
            li 
                a(href="/quiz") Quiz 
            li 
                a(href="/exercises") Exercises