doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Fit2BFit
        link(rel="stylesheet", href="/styles/main.css")
        link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    body    
        section#wrapper 
            include ./header.pug
            main    
                block main-content 
            include ./footer.pug
