extends ../layout 

block main-content 
    section.content 
        h1 Sweat.Smile.Repeat. 
        p Train smarter, eat better, and transform your lifestyle — all in one place. Track your progress, stay accountable, and crush your fitness goals. Whether you're just starting out or leveling up, we have got your back. 
        .buttons 
            button 
                a(href="#") Workout Plan 
            button 
                a(href="#") Exercises
    section.main-page-gallery
        .imgBox 
            img(src="/images/image1.jpg", alt="")
        .imgBox
            img(src="/images/image3.jpg", alt="")
        .imgBox 
            img(src="/images/image4.jpg", alt="")
    