extends ../layout 

block main-content 
    .result-page
        h1.result-page-heading Your score is #{score} out of 7
        .buttons.result-page-buttons
            button
                a(href="/quiz") Try Again 
            button 
                a(href="#") Workout Plan
